@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NotoSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NotoSans-Bold.woff') format('woff');
}
